# Applied Data Science Capstone Project - IBM

## Segmenting and Clustering Neighborhoods in Toronto, part 2

In [3]:
import pandas as pd

Firslty we will import 2 dataframes (Geospatial Coordinates from Coursera and list of neighborhoods from first notebook saved as CSV file:

In [22]:
df = pd.read_csv (r'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/Geospatial_Coordinates.csv')
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
toronto = pd.read_csv ('Capstone1.csv')

In [20]:
toronto.head()

   Unnamed: 0 PostalCode           Borough                      Neighborhood
0           0        M3A        North York                         Parkwoods
1           1        M4A        North York                  Victoria Village
2           2        M5A  Downtown Toronto         Regent Park, Harbourfront
3           3        M6A        North York  Lawrence Manor, Lawrence Heights
4           4        M7A      Queen's Park     Ontario Provincial Government

In [25]:
#Columns in 2 dataframes have different names, so we change it
toronto_new = toronto.rename(columns={'PostalCode': 'Postal Code'})

It is time to marge two tables and get one:

In [28]:
df = pd.merge(toronto_new, df, on = 'Postal Code')
df.head()

,Unnamed: 0_x,Postal Code,Borough_x,Neighborhood_x,Latitude,Longitude,Unnamed: 0_y,Borough_y,Neighborhood_y
0,0,M3A,North York,Parkwoods,43.753259,-79.329656,0,North York,Parkwoods
1,1,M4A,North York,Victoria Village,43.725882,-79.315572,1,North York,Victoria Village
2,2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636,2,Downtown Toronto,"Regent Park, Harbourfront"
3,3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763,3,North York,"Lawrence Manor, Lawrence Heights"
4,4,M7A,Queen's Park,Ontario Provincial Government,43.662301,-79.389494,4,Queen's Park,Ontario Provincial Government

We will drop double and not needed columns:

In [44]:
df.drop(['Unnamed: 0_x', 'Unnamed: 0_x','Unnamed: 0_y','Borough_y','Neighborhood_y'], axis=1)

,Postal Code,Borough_x,Neighborhood_x,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Ontario Provincial Government,43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto Business,Enclave of M4L,43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

Finally, we save it for use in next part:

In [45]:
df.to_csv('Capstone2.csv', index=False)
print('Your Dataframe is saved!')

Your Dataframe is saved!

In [46]:
df.shape

(103, 9)